@CHARSET "UTF-8";
/*MENU BEGIN*/

/*MENU END*/

/*CATEGORY BEGIN*/
/**
 * Hacking - Need find another way to 
 * setup layout similar to Pinterest/
 * This way only work with modern browsers
 */
/* .row {  */
/*     -moz-column-width: 16em; */
/*     -webkit-column-width: 16em; */
/*     -moz-column-gap: 1em; */
/*     -webkit-column-gap: 1em; */
/* } */

/* .category-block { */
/*     display: inline-block; */
/*     margin-bottom: 20px; */
/*     margin-right: 10px; */
/*     width: 100%; */
/*     float: left; */
/* } */

.category-block {
    padding-left: 0;
}
.category-block .panel-body {
    padding: 0;
}

.tool-favicon {
    max-width: 24px;
    max-height: 24px;
    margin-right: 10px;
    border-radius: 5px
}
/*CATEGORY END*/

/*SUGGEST BEGIN*/
.suggest-block {
    margin: 30px 0;
}
/*SUGGEST END*/

/*MEDIA QUERIES BEGIN*/
@media ( min-width : 768px) {
    #top-menu {
        padding-left: 0;
    }
}
/*MEDIA QUERIES END*/



/*TESTING*/
.tool-pack {
    margin:0;
    padding: 0;
}
.tool-pack li {
    list-style: none;
    float: left;
    width: 25%;
}


.tool-pack .panel-body {
    padding: 0;
}