@CHARSET "UTF-8";
/*MENU BEGIN*/

/*MENU END*/

/*CATEGORY BEGIN*/
/**
 * Hacking - Need find another way to 
 * setup layout similar to Pinterest/
 * This way only work with modern browsers
 */
/* .row {  */
/*     -moz-column-width: 16em; */
/*     -webkit-column-width: 16em; */
/*     -moz-column-gap: 1em; */
/*     -webkit-column-gap: 1em; */
/* } */

/* .category-block { */
/*     display: inline-block; */
/*     margin-bottom: 20px; */
/*     margin-right: 10px; */
/*     width: 100%; */
/*     float: left; */
/* } */

.category-block {
    padding: 0 15px;
}


.category-block .panel-body {
    padding: 0;
}

.tool-favicon { 
    max-width: 24px;
    max-height: 24px;
    margin-right: 10px;
    border-radius: 5px
}
/*CATEGORY END*/

/*SUGGEST BEGIN*/
.suggest-block {
    margin: 30px 0;
}
/*SUGGEST END*/

/*MEDIA QUERIES BEGIN*/
@media ( min-width : 768px) {
    #top-menu {
        padding-left: 0;
    }
}
/*MEDIA QUERIES END*/



/* FLIP BEGIN */
.flip-panel {
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}
.flip-container .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.flip-container.flip .front {
    z-index: 900;
    border-color: #eee;
    
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    
    /* setting to 180 causes an unnatural-looking half-flip */
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.flip-container.flip .back {
    z-index: 1000;
    
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}

/* FLIP END */